QPushButton
{
	border: none;
	background-color: none;
	background-repeat: none;
	background-image: url(:/img/img/buttons/control/exit.png);
}

QPushButton:hover
{
	background-image: url(:/img/img/buttons/control/exitHover.png);
}